
body {
	background-image: linear-gradient(to bottom right, white, #9CEB8D, #FCF9D5);
	text-align: center;
	padding: 0px;
}

.title {
	font-size: 50px;
}
.content input[type = button], .content input[type = submit] {
	box-shadow: 3px 3px 1.5px grey;
	border: solid 1px #fffef0;
	border-radius: 3%;
	background: #FCF9D5;
}

.content input[type = button]:hover, .content input[type = submit]:hover {
	box-shadow: 3px 3px 1.5px grey;
	border: solid 1px #fffef0;
	border-radius: 3%;
	background: #b3af8a;
}

.content input[type = button]:active, .content input[type = submit]:active {
	box-shadow: 1px 1px 1px grey;
	border: solid 1px #fffef0;
	border-radius: 3%;
	background: #b3af8a;
}
.navbar {
	width: 75%;
	height: 75px;
	background-image: linear-gradient(to top, white, #3FA37A);
	text-align: left;
	margin: auto;
	margin-top: 0;
	margin-bottom: 10;
	padding-top: 0;
	display: inline-block;
	background: #FCF9D5;
}

.navbar input {
	height: 75px;
	width: 20%;
	margin-right: 20px;
	float: right;
	border:none;
	background: #FCF9D5;
}

.navbar input:hover{
	height: 75px;
	width: 20%;
	margin-right: 20px;
	float: right;
	border:none;
	background: #b3af8a;
}


.logo {
	height: 75px;
	width: 75px;
}

.content {
	width: 75%;
	height: 70%;
	/*border: solid 1px black;
	border-radius: 3%;*/
	background: #fffef0;
	text-align: center;
	margin: auto;
	margin-top: 0;
	padding-top: 20px;
	box-shadow: 10px 10px 5px grey;
}

#header {
	font-size: 20px;
}

#balance {
	font-size: 100px;
}