body {
	background-image: linear-gradient(to bottom right, white, #9CEB8D, #FCF9D5);
	text-align: center;
}

.title {
	font-size: 50px;
}
input[type = button] {
	box-shadow: 10px 10px 5px grey;
}
.content {
	width: 1000px;
	border: solid 1px black;
	background: #fffef0;
	margin: auto;
	margin-top: 10px;
	box-shadow: 10px 10px 5px grey;
}

.button {
	margin-bottom: 10px;
}

#header {
	font-size: 20px;
}
